*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   
    background: #191970;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 300px;
    color: #fff;
    font-size: 25px;
    overflow: hidden;
}

#play{
    position: absolute;
    left: 50px;
    top: 15px;
    width: 50px;
    cursor: pointer;
}

#pause{
    position: absolute;
    left: 50px;
    top: 15px;
    width: 50px;
    cursor: pointer;
    display: none;
}

button{
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(248, 55, 7);
    font-size: 25px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}

button:hover{
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 50px 20px rgba(248, 55, 7, 0.5);
}

@keyframes botao{
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.snowflake{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    animation: snowEffect 5s ease-in-out infinite;
    top: -10px;
}

@keyframes snowEffect{

    0% {
        top: 0;
    }
    25% {
        margin-left: 25px;
    }
    50% {
        
        margin-left: 25px;
    }
    75% {
        opacity: 1;
        margin-left: 25px;
    }
    100% {
        top: 95vh;
        opacity: 0;
        margin-left: 25px;
    }


}